@import "./import/variables";
@media screen and (min-width: $vp_xxl) {
	.container.container-ext {
		max-width: 1440px;
	}
}
/*   Parent Theme Overrides   */
#menu-wrapper {
	&.xten-standard-internet-header {
		.site-header {
			&#masthead {
				background-color: $primary;
			}
		}
	}
}
/*   Parent Theme Overrides   */

/*   Blog Post/Home Page   */
.color-primary {
	color: $primary;
}
.color-secondary {
	color: $secondary;
}
$weird-content-padding: 1.875rem;
.entry-header {
	.featured-image {
		position: relative;
		margin: (-$weird-content-padding) (-$weird-content-padding) 0;
		overflow: hidden;
		&:before {
			@media (min-width: 420px) {
				content: "";
			}
			display: block;
			padding-bottom: 56.25%;
		}
		.post-thumbnail {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			min-width: 100%;
			min-height: 100%;
			width: 100%;
			max-width: none;
		}
		.featured-image-mask {
			color: $white;
			padding: $weird-content-padding;
			// background-image: linear-gradient(
			// 	to top,
			// 	rgba(0, 0, 0, 0.63) 40%,
			// 	rgba(255, 255, 255, 0)
			// );
			width: 100%;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.35);
			text-shadow: 0 0.05em 0.025em rgba(0, 0, 0, 0.35);
			top: 0;
			position: relative;
			@media (min-width: 420px) {
				position: absolute;
			}
		}
		.entry-title {
			margin-bottom: 0;
			max-width: 10.5em;
			text-align: center;
		}
	}
}
/*   /Blog Post/Home Page   */

/*   Contact Form   */
.wpcf7 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-size: 1.6rem;
	line-height: 1.25;
	label {
		font-weight: 700;
	}
	.form-control {
		&.wpcf7-checkbox {
			border: none;
		}
	}
	.wpcf7-list-item {
		&:first-child {
			margin-left: 0;
		}
	}
	.required-asterisk {
		vertical-align: super;
	}
	.form-group {
		margin-bottom: 1.5rem;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
}
/*   /Contact Form   */
body {
	&.xten-is-mobile {
		.desktop-only {
			display: none;
		}
	}
}
.btn {
	@extend .smooth-transition;
	&.btn-primary {
		color: $secondary;
		background-color: $primary;
		border-color: $primary;
		#{$active} {
			color: $primary-darker;
			background-color: $off-white;
			border-color: $primary;
			box-shadow: 0 0.2em 0.2em rgba($darker, 0.35);
		}
	}
}

/*   Footer    */
.site-footer {
	&.standard-site-footer {
		background: linear-gradient(to bottom, $primary 0%, $primary-darker 100%);
		.site-info-footer-wrapper {
			.site-info {
				color: $off-white;
				a {
					color: inherit;
					@extend .smooth-transition;
					#{$active} {
						color: $secondary;
					}
				}
			}
		}
	}
}
/*   /Footer    */
