@import "./import/variables";
@media screen and (min-width: $vp_xxl) {
	.container.container-ext {
		max-width: 1440px;
	}
}
/*   Parent Theme Overrides   */
#menu-wrapper {
	&.xten-standard-internet-header {
		.site-header {
			@at-root .mobile-sidebar-top,
				& {
				background-color: $primary;
			}
		}
	}
}
.main-container {
	padding-bottom: 6rem;
}
.header-wrapper {
	.main-navigation {
		> ul {
			li {
				a {
					&:before {
						background-image: none !important;
						background-color: $secondary !important;
						transform-origin: 0 0;
					}
				}
				&.current-menu-item,
				&.current_page_item {
					> a {
						&:before {
							background-image: none !important;
							background-color: $white !important;
						}
					}
				}
				> ul {
					&.sub-nav {
						background-color: $white !important;
						a {
							@extend .smooth-transition;
							#{$active} {
								background-color: $off-white !important;
							}
						}
					}
				}
			}
		}
	}
	.site-header {
		.navbar {
			.header-container {
				.main-navigation {
					> ul {
						li {
							margin-left: 0.75em;
							a {
								font-weight: 700;
							}
							&.menu-type-flyout {
								.sub-menu {
									li {
										a {
											font-size: 1.8rem;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.site-header {
	.header-container {
		> * {
			&:not(:last-child) {
				&:not(.header-search-toggle) {
					margin-right: 1.5%;
					@at-root .xten-mobile-menu-inactive {
						margin-right: 1.5rem;
					}
				}
			}
		}
	}
	.anchor-site-phone-number {
		font-size: 2rem;
		font-weight: 700;
		color: $white;
		text-decoration: none;
		position: relative;
		line-height: 1;
		@at-root .xten-mobile-menu-active & {
			max-width: 5.6em;
			font-size: 1.68rem;
			@media (min-width: $vp_sm) {
				font-size: 2.9rem;
			}
			@media (min-width: $vp_xs) {
				max-width: none;
			}
			text-align: center;
		}
		.site-phone-number {
			display: block;
			padding: 0.5em;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 0.1535rem;
			bottom: 0.25rem;
			left: 0;
			right: 0;
			transform: scaleX(0) translateZ(0);
			backface-visibility: hidden;
			transition: $smooth_transition;
			background-color: $secondary;
			transform-origin: 0 0;
		}
		#{$active} {
			&:before {
				transform: scaleX(1) translateZ(0);
			}
		}
	}
}
/*   Mobile Menu   */
html {
	.mobile-sidebar {
		#mobile-main-navigation {
			.menu {
				li {
					a {
						background-color: $primary;
					}
					&.is-showing {
						> a {
							background-color: $white;
							border-left-color: $primary-darker;
							color: $primary-darker;
						}
					}
					.sub-menu-toggler {
						background-color: $primary-darker;
						color: $white;
					}
				}
				.sub-menu {
					border-left: none;
					li {
						border-left: 0.75rem solid $primary-darker;
						a {
							background-color: $white;
							border-left-color: $primary-darker;
							color: $primary-darker;
						}
					}
				}
			}
		}
		.mobile-search {
			background-color: $primary-dark;
			input {
				background-color: $primary;
				border-color: $primary-darker;
				color: $white;
				&::placeholder {
					color: $off-white;
				}
			}
			.search-form {
				button {
					background-color: $primary-darker;
					color: $white;
					#{$active} {
						background-color: $primary-dark;
						color: $white;
					}
				}
			}
		}
	}
}
.search-form {
	button {
		background-color: $primary-darker;
		color: $white;
		#{$active} {
			background-color: $primary-dark;
			color: $white;
		}
	}
}
/*   Mobile Menu   */
/*   Parent Theme Overrides   */

/*   Blog Post/Home Page   */
.color-primary {
	color: $primary;
}
.color-secondary {
	color: $secondary;
}
ul {
	&.prominent {
		list-style-type: none;
		font-size: 3rem;
		padding-left: 1.5em;
		li {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 0.5em;
				height: 0.125em;
				background-color: $primary;
				left: -1em;
				top: 50%;
				transform: translate3d(0, -50%, 0);
			}
		}
		a {
			font-size: inherit;
			text-decoration: none;
			font-weight: 700;
			transform: translate3d(0, 0, 0);
			display: inline-block;
			@extend .smooth-transition;
			#{$active} {
				transform: translate3d(0.25em, 0, 0);
				text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.15);
			}
		}
	}
}

$weird-content-padding: 1.875rem;
.entry-header {
	.featured-image {
		position: relative;
		margin: (-$weird-content-padding) (-$weird-content-padding) 0;
		overflow: hidden;
		&:before {
			@at-root body.xten-mobile-menu-inactive & {
				content: "";
			}
			display: block;
			padding-bottom: 56.25%;
		}
		.post-thumbnail {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			min-width: 100%;
			min-height: 100%;
			width: 100%;
			max-width: none;
			img {
				min-height: 100%;
				max-width: unset;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: auto;
				@at-root body.xten-mobile-menu-inactive & {
					min-height: 0;
					max-width: 100%;
					width: auto;
				}
			}
		}
		.featured-image-mask {
			color: $white;
			padding: $weird-content-padding;
			width: 100%;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			height: 100%;
			min-height: 50vmin;
			background-color: rgba(0, 0, 0, 0.35);
			text-shadow: 0 0.05em 0.025em rgba(0, 0, 0, 0.35);
			top: 0;
			position: relative;
			@at-root body.xten-mobile-menu-inactive & {
				position: absolute;
			}
		}
		.entry-title {
			margin-top: auto;
			margin-bottom: auto;
			text-align: center;
			width: 100%;
			* {
				display: inline-block;
			}
		}
	}
}
/*   /Blog Post/Home Page   */

/*   Contact Form   */
.wpcf7 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-size: 1.6rem;
	line-height: 1.25;
	label {
		font-weight: 700;
	}
	.form-control {
		&.wpcf7-checkbox {
			border: none;
		}
	}
	.wpcf7-list-item {
		&:first-child {
			margin-left: 0;
		}
	}
	.required-asterisk {
		vertical-align: super;
	}
	.form-group {
		margin-bottom: 1.5rem;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	.visible-only-if-valid {
		display: none;
		margin: 2em 0.5em 0;
		padding: 0.2em 1em 0.5em;
		border: 2px solid rgb(57, 143, 20);
		border-bottom: 0;
		a {
			font-size: inherit;
			font-weight: 700;
		}
	}
	form {
		&.sent {
			.visible-only-if-valid {
				display: block;
				+ div {
					&.wpcf7-response-output {
						margin-top: 0;
						border-top: 0;
						padding-top: 0;
					}
				}
			}
		}
	}
}
/*   /Contact Form   */

/*   Sidebar Modal   */
#sidebar-modal {
	z-index: 8001;
	.primary-sidebar {
		margin-top: 0;
	}
	.modal-dialog {
		padding: 3rem 1.5rem;
	}
	.close {
		padding: 0.25em 0.5em;
		font-size: 3rem;
		position: absolute;
		background-color: $white;
		right: 1.5rem;
		top: 0.75rem;
		opacity: 1;
	}
	.widget-title {
		padding-right: 8rem;
	}
}
.modal-backdrop {
	z-index: 8000;
}

#show-sidebar-modal {
	display: none;
	text-align: center;
	font-weight: 700;
	max-width: 5.6em;
	font-size: 1.6rem;
	@media (min-width: $vp_sm) {
		font-size: 2.2rem;
	}
	@at-root body.xten-mobile-menu-active & {
		display: block;
	}
	&:active {
		outline: none;
	}
}
/*   /Sidebar Modal   */

body {
	&.xten-is-mobile {
		.desktop-only {
			display: none;
		}
	}
}
.btn {
	@extend .smooth-transition;
	&.btn-primary {
		color: $white;
		background-color: $primary;
		border-color: $primary;
		#{$active} {
			color: $primary-darker;
			background-color: $white;
			border-color: $primary;
			box-shadow: 0 0.2em 0.2em rgba($darker, 0.35);
		}
	}
	&.btn-theme-style {
		&.theme-style-white {
			color: $white;
			border-color: $white;
		}
		&.theme-style-dark {
			color: $primary-dark;
			border-color: $primary-dark;
		}
		font-weight: 700;
		padding: 0.25em 0.5em;
		border: 0.1em solid;
		line-height: 1;
		border-radius: 0.25em 0.25em 0 0.25em;
		@at-root .featured-image-mask & {
			margin-top: 1em;
			font-size: 3rem;
			margin-bottom: auto;
		}
	}
}
/*   Footer    */
.site-footer {
	&.standard-site-footer {
		background: linear-gradient(to bottom, $primary 0%, $primary-darker 100%);
		.site-info-footer-wrapper {
			.site-info {
				color: $white;
				a {
					color: inherit;
					@extend .smooth-transition;
					#{$active} {
						color: $secondary;
					}
				}
			}
		}
	}
}
/*   /Footer    */
